<footer class="footer">
    <div class="footer__grid">
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading" >Who we are</h2>
                    <svg class="icon icon--dark collapsible__chevron">
                        <use xlink:href="images/sprite.svg#chevron"></use>
                    </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">About JPV</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Sustainability</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading" >Other areas</h2>
                    <svg class="icon icon--dark collapsible__chevron">
                        <use xlink:href="images/sprite.svg#chevron"></use>
                    </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Urban Planning</a></li>
                    <li><a href="#">Interior Design</a></li>
                    <li><a href="#">Engineering</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading" >Meet us</h2>
                    <svg class="icon icon--dark collapsible__chevron">
                        <use xlink:href="images/sprite.svg#chevron"></use>
                    </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.png" alt="">
            <p class="footer__copyright">Copyright 2021 JPV Architects</p>
        </section>
    </div>
</footer>
<script src="js/main.js"></script>