<div class="gallery">
    <div class="card">
        <img src="images/house-O.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">House-O</a>
        </header>
    </div>
    <div class="card">
        <img src="images/house.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Neige</a>
        </header>
    </div>
    <div class="card">
        <img src="images/sustainable.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Orchard Commons</a>
        </header>
    </div>
    <div class="card">
        <img src="images/interior-O.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Interior-O</a>
        </header>
    </div>
    <div class="card">
        <img src="images/lake-house.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Lake House</a>
        </header>
    </div>
    <div class="card">
        <img src="images/lake-house-interior.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Lake Interior</a>
        </header>
    </div>
    <div class="card">
        <img src="images/masterpiece.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">M-Piece</a>
        </header>
    </div>
    <div class="card">
        <img src="images/pool-house.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Pool House</a>
        </header>
    </div>
    <div class="card">
        <img src="images/gated-community.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Gated Community</a>
        </header>
    </div>
    <div class="card">
        <img src="images/office.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Office-I</a>
        </header>
    </div>
    <div class="card">
        <img src="images/perspective.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Persephone</a>
        </header>
    </div>
    <div class="card">
        <img src="images/suspension.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Suspension</a>
        </header>
    </div>
    <div class="card">
        <img src="images/green.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Green Building</a>
        </header>
    </div>
    <div class="card">
        <img src="images/curvy.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Curvilinear</a>
        </header>
    </div>
    <div class="card">
        <img src="images/house-J.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">House-J</a>
        </header>
    </div>
    <div class="card">
        <img src="images/interior-j.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Interior-J</a>
        </header>
    </div>
    <div class="card">
        <img src="images/pavillion.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Pavillion</a>
        </header>
    </div>
    <div class="card">
        <img src="images/utopia.jpg" class="card__image" alt="">
        <header class="card__header">
            <a href="#" class="link-main">Utopia</a>
        </header>
    </div>
</div>